@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font Name: Lato */

/* Custom Properties  */

:root {

    --main-background-color: #fff;
    --main-color: #000;
    --text-color: #fff;
    --primary-color: #5814f4;
    --weather-color:#f8ecfc;     
    --900:#000; 
    --400: #a09c9c;
    --300: #c8c4c4;
    --200: #e0dcdc;
    --100: #f0ecec;
    --50: #f8f4f4;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    background-color: var(--main-background-color);
}

.parent {
    display: block;
}

@media (min-width: 1000px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 1 / 2 / 3 / 3; } 
}

.logo {
    color: var(--text-color);
    padding: 40px 15px 30px 25px;
}

.logo svg {
    width: 140px;
    height: auto;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}


header {
    background-color: var(--primary-color);
}

.planner-intro {
    color: var(--text-color);
    /* padding: 15px; */
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 40px 15px 120px 26px;
    background-color: var(--primary-color);
}

.planner-intro h1 {
    font-size: 45px;
    font-weight: 500;
}

.planner-intro p {
    font-weight: 300;
    font-size: 20px;
}

.read-button {
    color: var(--text-color);
    font-weight: lighter;
    font-size: 15px;
    background: none;
    border-style: none;
    text-decoration: underline;
}

details summary::after {
    content: "Read More";
  }
  
  details[open] summary::after {
    content: "Read Less";
  }


.days-section {
    background-color: var(--50);
    padding: 20px 20px 20px 20px;
}

.days-section h4 {
    padding: 0 0 25px 0;
}


.days-section ul {
    display: grid;
    grid-auto-flow: column; 
    list-style: none; 
}

.mail-input {
    text-align: center;
    width: 100%;
    height: 50px;
    border: 1px solid var(--main-color);
    border-radius: 40px;
    margin-bottom: 20px;
}

.mail-input::placeholder {
    color: var(--main-color);
}

.submit {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: bold;
}

.degree-info {
    background-color: var(--weather-color);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

.degree-info h2{
    font-size: 80px;
    line-height: 0.2;
}

.activities {
    padding: 20px;
}

hr {
    color: gray;
    opacity: 20%;
}


footer {
    background-color: var(--main-color);
    padding-top: 450px;
    padding-bottom: 450px;
    text-align: center;
}



